// Custom Variables //

// English Fonts - Primary
// $primaryFont: 'Bukra', 'Arial, sans-seri';
// $secondaryFont: $primaryFont;

// Set Colors
$green: #34b04a;
$purple: #662D91;
$background: #12161a;
$black-bg: #141414;
$foreground: #1a1f25;
$callToAction: #fa6c30;
$black: #000000;
$white: #ffffff;
$gray: #eeeff2;
$color-161A22: #161a22;

$color-D9D9D9: #d9d9d9;
$background-color-E2DFDF: #e2dfdf;
$background-color-FFFCFC: #FFFCFC;
$background-color: #fffcfc;
$background-transparent: transparent;

$gray-bg: #292929;
$gray-color: #292929;
$orng-clr: #fe794e;
$white-bg: #fff;
$aqua-bg: #00ffff;

$black-sty1: #181818;
$white-sty1: #f4f4f4;
$gray-sty1: #e8e8e8;
$error-clr: #f04438;
$success: #12b76a;
$warning: #f79009;

// Media Queries
$vpDesktop1919: "(max-width:1919px)";
$vpDesktop1680: "(max-width:1680px)";
$vpDesktop1440: "(max-width:1440px)";
$vpDesktop1399: "(max-width:1399px)";
$vpDesktop1439: "(max-width:1439px)";
$vpDesktop1280: "(max-width:1280px)";
$vpTablet1200: "(max-width:1200px)";
$vpTablet1199: "(max-width:1199px)";
$vpTablet1024: "(max-width:1024px)";
$vpTablet991: "(max-width:991px)";
$vpMobile767: "(max-width:767px)";
$vpMobile600: "(max-width:600px)";
$vpMobile575: "(max-width:575px)";
$vpMobile389: "(max-width:389px)";
$vpMobile359: "(max-width:359px)";

// orientation landscape
$smMobileLandscape: "(max-width: 767px) and (orientation: landscape)";

$font60: 3.75rem;

$font40: 2.5rem;
$font30: 1.875rem;
$font26: 1.625rem;
$font64: 4rem;
$font32: 2rem;
$font28: 1.75rem;
$font24: 1.5rem;
$font20: 1.25rem;
$font18: 1.125rem;
$font16: 1rem;
$font14: 0.875rem;
$font12: 0.75rem;

$fontweight100: 100;
$fontweight200: 200;
$fontweight300: 300;
$fontweight400: 400;
$fontweight500: 500;
$fontweight600: 600;
$fontweight700: 700;
$fontweight800: 800;

$fontweight900: 900;
