@import "/src/styles/global/variables.scss";

.mainWraper{
    // display: grid;
    // grid-template-rows: 20% 60% 20%;

    padding: 0 5rem;
    width: 100%;
    height: 100%;

    // .header{
    //     height: 15%;
    // }
    // .slider{
    //     height: 70%;
    // }
    // .ticker{
    //     height: 15%;
    // }
}

