.newsDetailContainer {
    padding: 20px;
    max-width: 800px;
    margin: auto;
  }
  
  .newsDetailImage {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .newsDetailTitle {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  .newsDetailDescription {
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  
  .newsDetailDate {
    font-size: 1em;
    color: #555;
  }
  